/*
Beater API

Agent observability, evaluation, gating, and human-review APIs for Beater

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package beaterclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SearchAPIService SearchAPI service
type SearchAPIService service

type ApiSearchSpansRequest struct {
	ctx context.Context
	ApiService *SearchAPIService
	tenantId string
	q *string
	projectId *string
	environmentId *string
	traceId *string
	spanId *string
	kind *string
	status *string
	model *string
	tool *string
	limit *int32
	authorization *string
	xBeaterApiKey *string
	xBeaterProjectId *string
	xBeaterEnvironmentId *string
}

func (r ApiSearchSpansRequest) Q(q string) ApiSearchSpansRequest {
	r.q = &q
	return r
}

func (r ApiSearchSpansRequest) ProjectId(projectId string) ApiSearchSpansRequest {
	r.projectId = &projectId
	return r
}

func (r ApiSearchSpansRequest) EnvironmentId(environmentId string) ApiSearchSpansRequest {
	r.environmentId = &environmentId
	return r
}

func (r ApiSearchSpansRequest) TraceId(traceId string) ApiSearchSpansRequest {
	r.traceId = &traceId
	return r
}

func (r ApiSearchSpansRequest) SpanId(spanId string) ApiSearchSpansRequest {
	r.spanId = &spanId
	return r
}

func (r ApiSearchSpansRequest) Kind(kind string) ApiSearchSpansRequest {
	r.kind = &kind
	return r
}

func (r ApiSearchSpansRequest) Status(status string) ApiSearchSpansRequest {
	r.status = &status
	return r
}

func (r ApiSearchSpansRequest) Model(model string) ApiSearchSpansRequest {
	r.model = &model
	return r
}

func (r ApiSearchSpansRequest) Tool(tool string) ApiSearchSpansRequest {
	r.tool = &tool
	return r
}

func (r ApiSearchSpansRequest) Limit(limit int32) ApiSearchSpansRequest {
	r.limit = &limit
	return r
}

// Bearer API token for strict auth
func (r ApiSearchSpansRequest) Authorization(authorization string) ApiSearchSpansRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiSearchSpansRequest) XBeaterApiKey(xBeaterApiKey string) ApiSearchSpansRequest {
	r.xBeaterApiKey = &xBeaterApiKey
	return r
}

// Strict-auth project scope
func (r ApiSearchSpansRequest) XBeaterProjectId(xBeaterProjectId string) ApiSearchSpansRequest {
	r.xBeaterProjectId = &xBeaterProjectId
	return r
}

// Strict-auth environment scope
func (r ApiSearchSpansRequest) XBeaterEnvironmentId(xBeaterEnvironmentId string) ApiSearchSpansRequest {
	r.xBeaterEnvironmentId = &xBeaterEnvironmentId
	return r
}

func (r ApiSearchSpansRequest) Execute() (*SearchResponse, *http.Response, error) {
	return r.ApiService.SearchSpansExecute(r)
}

/*
SearchSpans Method for SearchSpans

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @return ApiSearchSpansRequest
*/
func (a *SearchAPIService) SearchSpans(ctx context.Context, tenantId string) ApiSearchSpansRequest {
	return ApiSearchSpansRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
	}
}

// Execute executes the request
//  @return SearchResponse
func (a *SearchAPIService) SearchSpansExecute(r ApiSearchSpansRequest) (*SearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchSpans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/search/{tenant_id}/spans"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	}
	if r.environmentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environment_id", r.environmentId, "form", "")
	}
	if r.traceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trace_id", r.traceId, "form", "")
	}
	if r.spanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "span_id", r.spanId, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.tool != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tool", r.tool, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xBeaterApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-api-key", r.xBeaterApiKey, "simple", "")
	}
	if r.xBeaterProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-project-id", r.xBeaterProjectId, "simple", "")
	}
	if r.xBeaterEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-environment-id", r.xBeaterEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
