/*
Beater API

Agent observability, evaluation, gating, and human-review APIs for Beater

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package beaterclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ArchiveAPIService ArchiveAPI service
type ArchiveAPIService service

type ApiArchiveTraceRequest struct {
	ctx context.Context
	ApiService *ArchiveAPIService
	tenantId string
	projectId string
	traceId string
	authorization *string
	xBeaterApiKey *string
	xBeaterProjectId *string
	xBeaterEnvironmentId *string
}

// Bearer API token for strict auth
func (r ApiArchiveTraceRequest) Authorization(authorization string) ApiArchiveTraceRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiArchiveTraceRequest) XBeaterApiKey(xBeaterApiKey string) ApiArchiveTraceRequest {
	r.xBeaterApiKey = &xBeaterApiKey
	return r
}

// Strict-auth project scope
func (r ApiArchiveTraceRequest) XBeaterProjectId(xBeaterProjectId string) ApiArchiveTraceRequest {
	r.xBeaterProjectId = &xBeaterProjectId
	return r
}

// Strict-auth environment scope
func (r ApiArchiveTraceRequest) XBeaterEnvironmentId(xBeaterEnvironmentId string) ApiArchiveTraceRequest {
	r.xBeaterEnvironmentId = &xBeaterEnvironmentId
	return r
}

func (r ApiArchiveTraceRequest) Execute() (*ArchiveManifest, *http.Response, error) {
	return r.ApiService.ArchiveTraceExecute(r)
}

/*
ArchiveTrace Method for ArchiveTrace

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param projectId project_id
 @param traceId trace_id
 @return ApiArchiveTraceRequest
*/
func (a *ArchiveAPIService) ArchiveTrace(ctx context.Context, tenantId string, projectId string, traceId string) ApiArchiveTraceRequest {
	return ApiArchiveTraceRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		projectId: projectId,
		traceId: traceId,
	}
}

// Execute executes the request
//  @return ArchiveManifest
func (a *ArchiveAPIService) ArchiveTraceExecute(r ApiArchiveTraceRequest) (*ArchiveManifest, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArchiveManifest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArchiveAPIService.ArchiveTrace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/archive/{tenant_id}/{project_id}/{trace_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trace_id"+"}", url.PathEscape(parameterValueToString(r.traceId, "traceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xBeaterApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-api-key", r.xBeaterApiKey, "simple", "")
	}
	if r.xBeaterProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-project-id", r.xBeaterProjectId, "simple", "")
	}
	if r.xBeaterEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-environment-id", r.xBeaterEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQueryArchiveSpansRequest struct {
	ctx context.Context
	ApiService *ArchiveAPIService
	tenantId string
	projectId string
	environmentId *string
	traceId *string
	spanId *string
	kind *string
	status *string
	limit *int32
	authorization *string
	xBeaterApiKey *string
	xBeaterProjectId *string
	xBeaterEnvironmentId *string
}

func (r ApiQueryArchiveSpansRequest) EnvironmentId(environmentId string) ApiQueryArchiveSpansRequest {
	r.environmentId = &environmentId
	return r
}

func (r ApiQueryArchiveSpansRequest) TraceId(traceId string) ApiQueryArchiveSpansRequest {
	r.traceId = &traceId
	return r
}

func (r ApiQueryArchiveSpansRequest) SpanId(spanId string) ApiQueryArchiveSpansRequest {
	r.spanId = &spanId
	return r
}

func (r ApiQueryArchiveSpansRequest) Kind(kind string) ApiQueryArchiveSpansRequest {
	r.kind = &kind
	return r
}

func (r ApiQueryArchiveSpansRequest) Status(status string) ApiQueryArchiveSpansRequest {
	r.status = &status
	return r
}

func (r ApiQueryArchiveSpansRequest) Limit(limit int32) ApiQueryArchiveSpansRequest {
	r.limit = &limit
	return r
}

// Bearer API token for strict auth
func (r ApiQueryArchiveSpansRequest) Authorization(authorization string) ApiQueryArchiveSpansRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiQueryArchiveSpansRequest) XBeaterApiKey(xBeaterApiKey string) ApiQueryArchiveSpansRequest {
	r.xBeaterApiKey = &xBeaterApiKey
	return r
}

// Strict-auth project scope
func (r ApiQueryArchiveSpansRequest) XBeaterProjectId(xBeaterProjectId string) ApiQueryArchiveSpansRequest {
	r.xBeaterProjectId = &xBeaterProjectId
	return r
}

// Strict-auth environment scope
func (r ApiQueryArchiveSpansRequest) XBeaterEnvironmentId(xBeaterEnvironmentId string) ApiQueryArchiveSpansRequest {
	r.xBeaterEnvironmentId = &xBeaterEnvironmentId
	return r
}

func (r ApiQueryArchiveSpansRequest) Execute() (*ArchiveQueryResponse, *http.Response, error) {
	return r.ApiService.QueryArchiveSpansExecute(r)
}

/*
QueryArchiveSpans Method for QueryArchiveSpans

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param projectId project_id
 @return ApiQueryArchiveSpansRequest
*/
func (a *ArchiveAPIService) QueryArchiveSpans(ctx context.Context, tenantId string, projectId string) ApiQueryArchiveSpansRequest {
	return ApiQueryArchiveSpansRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return ArchiveQueryResponse
func (a *ArchiveAPIService) QueryArchiveSpansExecute(r ApiQueryArchiveSpansRequest) (*ArchiveQueryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArchiveQueryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArchiveAPIService.QueryArchiveSpans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/archive/{tenant_id}/{project_id}/spans"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.environmentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environment_id", r.environmentId, "form", "")
	}
	if r.traceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trace_id", r.traceId, "form", "")
	}
	if r.spanId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "span_id", r.spanId, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xBeaterApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-api-key", r.xBeaterApiKey, "simple", "")
	}
	if r.xBeaterProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-project-id", r.xBeaterProjectId, "simple", "")
	}
	if r.xBeaterEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-environment-id", r.xBeaterEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
