/*
Beater API

Agent observability, evaluation, gating, and human-review APIs for Beater

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package beaterclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SpansAPIService SpansAPI service
type SpansAPIService service

type ApiGetSpanRequest struct {
	ctx context.Context
	ApiService *SpansAPIService
	tenantId string
	traceId string
	spanId string
	unmask *bool
	reason *string
	authorization *string
	xBeaterApiKey *string
	xBeaterProjectId *string
	xBeaterEnvironmentId *string
}

func (r ApiGetSpanRequest) Unmask(unmask bool) ApiGetSpanRequest {
	r.unmask = &unmask
	return r
}

func (r ApiGetSpanRequest) Reason(reason string) ApiGetSpanRequest {
	r.reason = &reason
	return r
}

// Bearer API token for strict auth
func (r ApiGetSpanRequest) Authorization(authorization string) ApiGetSpanRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiGetSpanRequest) XBeaterApiKey(xBeaterApiKey string) ApiGetSpanRequest {
	r.xBeaterApiKey = &xBeaterApiKey
	return r
}

// Strict-auth project scope
func (r ApiGetSpanRequest) XBeaterProjectId(xBeaterProjectId string) ApiGetSpanRequest {
	r.xBeaterProjectId = &xBeaterProjectId
	return r
}

// Strict-auth environment scope
func (r ApiGetSpanRequest) XBeaterEnvironmentId(xBeaterEnvironmentId string) ApiGetSpanRequest {
	r.xBeaterEnvironmentId = &xBeaterEnvironmentId
	return r
}

func (r ApiGetSpanRequest) Execute() (*CanonicalSpan, *http.Response, error) {
	return r.ApiService.GetSpanExecute(r)
}

/*
GetSpan Method for GetSpan

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param traceId trace_id
 @param spanId span_id
 @return ApiGetSpanRequest
*/
func (a *SpansAPIService) GetSpan(ctx context.Context, tenantId string, traceId string, spanId string) ApiGetSpanRequest {
	return ApiGetSpanRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		traceId: traceId,
		spanId: spanId,
	}
}

// Execute executes the request
//  @return CanonicalSpan
func (a *SpansAPIService) GetSpanExecute(r ApiGetSpanRequest) (*CanonicalSpan, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CanonicalSpan
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpansAPIService.GetSpan")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/spans/{tenant_id}/{trace_id}/{span_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trace_id"+"}", url.PathEscape(parameterValueToString(r.traceId, "traceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"span_id"+"}", url.PathEscape(parameterValueToString(r.spanId, "spanId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.unmask != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unmask", r.unmask, "form", "")
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", r.reason, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xBeaterApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-api-key", r.xBeaterApiKey, "simple", "")
	}
	if r.xBeaterProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-project-id", r.xBeaterProjectId, "simple", "")
	}
	if r.xBeaterEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-environment-id", r.xBeaterEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSpanIoRequest struct {
	ctx context.Context
	ApiService *SpansAPIService
	tenantId string
	traceId string
	spanId string
	unmask *bool
	reason *string
	authorization *string
	xBeaterApiKey *string
	xBeaterProjectId *string
	xBeaterEnvironmentId *string
}

func (r ApiGetSpanIoRequest) Unmask(unmask bool) ApiGetSpanIoRequest {
	r.unmask = &unmask
	return r
}

func (r ApiGetSpanIoRequest) Reason(reason string) ApiGetSpanIoRequest {
	r.reason = &reason
	return r
}

// Bearer API token for strict auth
func (r ApiGetSpanIoRequest) Authorization(authorization string) ApiGetSpanIoRequest {
	r.authorization = &authorization
	return r
}

// API key alternative for strict auth
func (r ApiGetSpanIoRequest) XBeaterApiKey(xBeaterApiKey string) ApiGetSpanIoRequest {
	r.xBeaterApiKey = &xBeaterApiKey
	return r
}

// Strict-auth project scope
func (r ApiGetSpanIoRequest) XBeaterProjectId(xBeaterProjectId string) ApiGetSpanIoRequest {
	r.xBeaterProjectId = &xBeaterProjectId
	return r
}

// Strict-auth environment scope
func (r ApiGetSpanIoRequest) XBeaterEnvironmentId(xBeaterEnvironmentId string) ApiGetSpanIoRequest {
	r.xBeaterEnvironmentId = &xBeaterEnvironmentId
	return r
}

func (r ApiGetSpanIoRequest) Execute() (*SpanIoResponse, *http.Response, error) {
	return r.ApiService.GetSpanIoExecute(r)
}

/*
GetSpanIo Method for GetSpanIo

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenantId tenant_id
 @param traceId trace_id
 @param spanId span_id
 @return ApiGetSpanIoRequest
*/
func (a *SpansAPIService) GetSpanIo(ctx context.Context, tenantId string, traceId string, spanId string) ApiGetSpanIoRequest {
	return ApiGetSpanIoRequest{
		ApiService: a,
		ctx: ctx,
		tenantId: tenantId,
		traceId: traceId,
		spanId: spanId,
	}
}

// Execute executes the request
//  @return SpanIoResponse
func (a *SpansAPIService) GetSpanIoExecute(r ApiGetSpanIoRequest) (*SpanIoResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SpanIoResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpansAPIService.GetSpanIo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/spans/{tenant_id}/{trace_id}/{span_id}/io"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant_id"+"}", url.PathEscape(parameterValueToString(r.tenantId, "tenantId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"trace_id"+"}", url.PathEscape(parameterValueToString(r.traceId, "traceId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"span_id"+"}", url.PathEscape(parameterValueToString(r.spanId, "spanId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.unmask != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unmask", r.unmask, "form", "")
	}
	if r.reason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reason", r.reason, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	if r.xBeaterApiKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-api-key", r.xBeaterApiKey, "simple", "")
	}
	if r.xBeaterProjectId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-project-id", r.xBeaterProjectId, "simple", "")
	}
	if r.xBeaterEnvironmentId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-beater-environment-id", r.xBeaterEnvironmentId, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
